@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    overflow-y: scroll;
}

nav {
    border-right: 3px solid #ddd;
}

nav header {
    border-bottom: 3px solid #ddd;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: inherit;
    display: block;
    border-bottom: 3px solid #ddd;
    padding: 20px;
}

section {
    margin: 0 30px;
}

header {
    font-weight: 700;
    font-size: 2em;
    padding-top: 20px;
}

code {
    background-color: rgb(233, 233, 233);
    display: block;
    padding: 15px;
    margin: 0 20px;
    line-height: 2;
}

@media (max-width: 650px) {
    body {
        flex-direction: column;
    }

    nav {
        height: 30vh;
        overflow-y: scroll;
        text-align: center;
    }

    main {
        overflow-y: unset;
    }
}